@import "reset.css";
@import "grid.css";

/* Basic
********************/
body {
	font: 12px/1.5 Arial, sans-serif;
	margin: 0 auto;
}

a, a:link, a:visited {
	color: #00F;
	text-decoration: none;
}

a:hover {
	color: #0368CD;
	text-decoration: underline;
}

a:focus {
	outline: 1px dotted invert
}

strong, b {
	font-weight: bold;
}

em, i {
	font-style: italic;
}

p, h1, h2, h3 {
	margin-bottom: 15px;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	padding: 2px 0;
}

h1 {
	font-size: 180%;
}

h2 {
	font-size: 140%;
}

h3 {
	font-size: 110%;
	color: #000;
}

h4 {
	font-size: 100%;
}

ol {
	list-style: decimal;
	margin-left: 20px;
}

input, textarea, select {
	font-size: 100%;
	background-color: #FFF;
	padding: 3px;
	border: 1px inset #BDC7D8;
	color: #000;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

input[type=text], input[type=password], textarea {
	width: 250px;
}

input[type=submit], input[type=button] {
	padding: 1px;
	border: outset 1px #DEDEDE;
	background-color: #EEE;
	color: #000;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

textarea {
	height: 50px;
}

.mini_from input[type=text], .mini_from input[type=password], .mini_from textarea {
	width: 150px;
}

/* Header
********************/

#headWarp {
	background: #FFF url(../images/global/bg_header.gif) repeat-x top left;
	padding-top: 10px;
}

#headArea {
	border-bottom: solid 2px #000;
}

#logoText {
	font-size: 30px;
	margin-bottom: 0;
}

#userBar {
	float: right;
	margin-top: 22px;
	margin-bottom: 0;
	font-size: 12px;
}

#userBar li {
	float: left;
	padding-left: 15px;
	margin-bottom: 0;
}

/* Body
********************/
#bodyWarp {
}

/* Footer
********************/

#footWarp {
	border-top: solid 2px #000;
	padding-bottom: 15px;
}

#footArea {
	padding-top: 2px;
	text-align: center;
}

#footArea span, #footArea a {
	padding: 0 7px;
}

/* Body
********************/

#bodyWarp {
}

/* Space
********************/

#space {
	margin-right: 9px;
	padding-top: 15px;
	padding-bottom: 15px;
	border-right: solid 1px #F2F2F2;
}

#space a {
	display: block;
	margin-right: 5px;
}

/* Message
********************/

div.error, div.success, div.message {
	padding: 5px 10px 4px 10px;
	border: 1px solid #ddd;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

div.error {
	background: #FEF5F4;
	color: #E00505;
	border-color: #FBC2C4;
}

div.success {
	background: #E6EFC2;
	color: #264409;
	border-color: #C6D880;
}

div.message {
	background-color: #E5F0FA;
	color: #006dba;
	border-color: #b2d1ff;
}

div.error li, div.success li, div.message li {
	list-style-type: circle;
	margin-left: 10px;
}

td.errors input {
	border: solid 1px #FF6666;
}

/* Format
********************/

.hint {
	color: #888;
}

.bold {
	font-weight: bold;
}

.expire {
	text-decoration: line-through;
}

.nowrap {
	white-space: nowrap;
}

.minHeight {
	min-height: 400px;
}

.floatLeft {
	float: left !important;
}

.floatRight {
	float: right !important;
}

.alignLeft {
	text-align: left !important;
}

.alignRight {
	text-align: right !important;
}

.alignCenter {
	text-align: center !important;
}

.width_0 {
	width: 1px;
}

.paddinleft_1 {
	padding-left: 10px !important;
}

.paddinRight_1 {
	padding-right: 10px !important;
}

.paddingtop_1 {
	padding-top: 15px;
}

.paddingtop_2 {
	padding-top: 30px;
}

.paddingbottom_1 {
	padding-bottom: 15px;
}

.paddingbottom_2 {
	padding-bottom: 30px;
}

.margintop_1 {
	margin-top: 15px;
}

.marginbottom_0 {
	margin-bottom: 0;
}

.marginbottom_1 {
	margin-bottom: 15px;
}

.marginbottom_2 {
	margin-bottom: 30px;
}

hr.clear {
	margin: 0;
	padding: 0;
	height: 0;
}

hr.space {
	border: 0;
	height: 0;
	margin-bottom: 5px;
}

.radius_1 {
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.radius_2 {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.section {
	padding: 2px 0;
	margin-bottom: 5px;
	border-bottom: solid 1px #A7A7A7;
}

.sectionIcon {
	padding: 2px 0 2px 22px;
	margin-bottom: 10px;
	border-bottom: solid 1px #DDD;
	background: url(../images/icons/16/default.png) no-repeat left center;
}

.sectionSpace {
	padding: 5px 5px 5px 22px;
	background: url(../images/icons/16/default.png) no-repeat left center;
	border-top: solid 1px #F2F2F2;
}

.sectionBox {
	padding: 2px 8px;
	background-color: #E0F4FD;
	border-top: solid 1px #F2F2F2;
}

.sectionBody {
}

.sectionBodyTab {
	margin-left: 22px;
}

.sectionBodyBox {
	padding: 8px;
	border-bottom: solid 1px #F6F6F6;
}

.sectionBodyBox table.form td {
	padding-bottom: 5px;
	vertical-align: top;
}

.sectionBodyBox table.form td.name {
	white-space: nowrap;
	text-align: left;
	min-width: 40px;
	padding-right: 10px;
}

.operation a {
	padding-left: 8px;
}

.operation span {
	padding-left: 8px;
}

/* Frame */
.frame {
	font-weight: normal;
	background-color: #C4E7E6;
	color: #000 !important;
	padding-right: 5px;
	padding-left: 5px;
	text-align: center;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	font-size: 95%;
}

.frame_other {
	font-weight: normal;
	background-color: #EBF1F6;
	color: #222 !important;
	padding-right: 5px;
	padding-left: 5px;
	text-align: center;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	font-size: 95%;
}

.frame_info {
	font-weight: normal;
	background-color: #ECD99C;
	color: #a0522d !important;
	padding-right: 5px;
	padding-left: 5px;
	text-align: center;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	font-size: 95%;
}

.frame_add {
	font-weight: normal;
	background-color: #F2B938;
	color: #000 !important;
	padding-right: 5px;
	padding-left: 5px;
	text-align: center;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	font-size: 95%;
}

.frame_edit {
	font-weight: normal;
	background-color: #D2E6B1;
	color: #006400 !important;
	padding-right: 5px;
	padding-left: 5px;
	text-align: center;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	font-size: 95%;
}

.frame_del {
	font-weight: normal;
	background-color: #FE9687;
	color: #8b0000 !important;
	padding-right: 5px;
	padding-left: 5px;
	text-align: center;
	font-size: 95%;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

/* Space */
.boxSpace {
	margin-bottom: 15px;
}

.boxSpace input[type=text], .boxSpace textarea {
	border: solid 1px #CCC;
}

hr.line {
	height: 1px;
	background-color: #F2F2F2;

}

/* Icon
********************/

.icon16_profile {
	background-image: url(../images/icons/16/profile.png)
}

.icon16_message {
	background-image: url(../images/icons/16/message.png)
}

.icon16_credit {
	background-image: url(../images/icons/16/credit.png)
}

.icon16_colocation {
	background-image: url(../images/icons/16/colocation.png)
}

.icon16_gameserver {
	background-image: url(../images/icons/16/gameserver.png)
}

/* Form
********************/

table.form {
	width: 100%;
}

table.form td {
	padding-bottom: 15px;
	vertical-align: top;
}

table.form td.name {
	white-space: nowrap;
	text-align: right;
	width: 100px;
	font-size: 100%;
	padding-right: 10px;
	font-weight: bold;
	color: #000;
}

table.form td.value {
}

table.form td.line {
	border-top: solid 1px #CCC;
}

table.form td.error {
	color: #FD0002;
}

table.form td.sticky {
	color: #ff1493;
}

table.form tr:last-child td {
	padding-bottom: 0;
}

table.form input + div, table.form select + div, table.form textarea + div {
	padding-top: 2px;
}

/* Detail
********************/

table.detail {
	width: 100%;
}

table.detail td {
	padding-bottom: 5px;
	vertical-align: top;
}

table.detail td.name {
	white-space: nowrap;
	text-align: left;
	width: 100px;
	padding-right: 10px;
}

table.detail td.value {
}

/* List
********************/

table.list {
	width: 100%;
}

table.list th {
	padding: 1px 8px;
	text-align: left;
	font-weight: bold;
	border-bottom: dashed 1px #BBB;
}

table.list tr.bg th {
	background-color: #F9D7B1;
	color: #8b0000;
}

table.list tr.bg td {
	background-color: transparent;
}

table.list th:first-child {
	padding-left: 0;
}

table.list th:last-child {
	padding-right: 0;
}

table.list td {
	padding: 2px 8px;
	border-bottom: dotted 1px #EEE;
	vertical-align: middle;
}

table.list td:first-child {
	padding-left: 0;
}

table.list td:last-child {
	padding-right: 0;
}

table.list td .date {
	background-color: #E7F1FE;
	padding: 0px 4px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

table.list td .user {
}

table.list td .text {
	color: #333;
}